body {
  background-color: #e3e8e8;
  font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

#main-wrapper {
  width: 800px;
  margin: 0 auto;
}

div.form-item {
  margin-bottom: 10px;
}

div.form-item label, div.form-item span {
  font-family: "Helvetica",Helvetica,arial,sans-serif;  
  color: #444;
  display: block;
  text-shadow: 1px 1px 1px #F2F2F2;
}
div.form-item > label { font-size: 21px; font-variant: small-caps; text-transform: lowercase; }
div.form-item > span  { font-size: 11px;; font-style: italic; }

div.form-subitem { display: inline-block; margin: 0 5px;}
div.form-subitem label { display: inline; font-size: 14px; }


input, select, textarea { border: 1px solid #999; }
input[type="textfield"], input[type="file"], input[type="password"], textarea { padding: 5px; width: 320px; }
select { width: 330px; }
textarea { font-family: Lucida console, Lucida, Monaco; min-height: 100px;}
input[type="submit"], input[type="button"] { width: 330px; auto; background: #d3d8d8; border-radius: 4px;}
input[type="submit"]:hover, input[type="button"]:hover { border: 1px solid #555; }
input[type="submit"]:active, input[type="button"]:active { background: #e3e8e8; }